*.safetensors filter=lfs diff=lfs merge=lfs -text
models/** filter=lfs diff=lfs merge=lfs -text
data/search_indexes/*.faiss filter=lfs diff=lfs merge=lfs -text
data/search_indexes/*.pkl filter=lfs diff=lfs merge=lfs -text
